<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/nav.ejs") %>

    <div class="details content">
      <h2><%= blog.title %></h2>
      <div class="content content-card">
        <p><%= blog.body %></p>
      </div>
      <div>
        <a class="button delete" data-doc="<%= blog._id %>">DELETE</a>
        <a class="button edit" data-doc="<%= blog._id %>">EDIT</a>
      </div>
      <br />
    </div>

    <%- include("../partials/footer.ejs") %>

    <script>
      const trashcan = document.querySelector("a.delete");
      const edit = document.querySelector("a.edit");
      trashcan.addEventListener("click", (e) => {
        const endpoint = `/blogs/${trashcan.dataset.doc}`;
        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => response.json())
          .then((data) => (window.location.href = data.redirect))
          .catch((err) => console.log(err));
      });
      edit.addEventListener("click", (e) => {
        const endpoint = `/blogs/edit/${edit.dataset.doc}`;
        window.location.href = endpoint;
      });
    </script>
  </body>
</html>
